/**

~~~~~~~General~~~~~~~~

**/

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

/**

~~~~~~~Header~~~~~~~~

**/

.jumbotron {
  height: 60vh;
  background-image: url(../img/dubai.jpg);
  background-position: center;
  background-size: cover;
}

header .container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p, h6, button, a, nav {
  font-family: 'Open Sans', sans-serif;
  }

  h1, h2 {
  color: white;
}

  h1, h3 {
  font-family: 'Indie Flower', cursive;
}

  h2, h4 {
    font-family: 'Secular One', sans-serif;
}

/**

~~~~~~~End header~~~~~~~~

**/

/**

~~~~~~~Start footer~~~~~~~~

**/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: 'Indie Flower', cursive;
}

/**

~~~~~~~End footer~~~~~~~~

**/

/**

~~~~~~~Contact page~~~~~~~~

**/

#contact-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
